[Desktop Entry]
Type=Application
Name=Dwarf Fortress
Icon=com.bay12games.DwarfFortress
Exec=/app/launcher.sh
Categories=Game;
StartupWMClass=DwarfFortress
